@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}




.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffcff;
    position:relative;
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.logo h3 {
   color: green;
   font-size: 1.6rem;

}


.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: green;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #caefa06b;
    border-bottom: 4px solid green;  
    color: green;
}



.first-section{
    height: 100vh;
    width: 100vw;
    

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-conteudo{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.conteudo-principal{
    margin-left:1000px;
    margin-top: 10px;
    
 
text-align: center;
  align-items: center;

}

.section-conteudo h1{
    color: green;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-conteudo h2{
    color: rgb(37, 37, 37);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: green;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
    margin: 0 auto;
    
}

.btn button:hover {
    border: 1px solid greenyellow;
    background-color: transparent;
    color: #caefa06b;
}



.titulo-cardapio{
    
    color: rgb(239, 196, 25);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 3rem;    
    z-index: 2;
}

.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
 
}

.cardapio h2 {
    font-size: 4rem;
    color: rgb(239, 196, 25);
    text-transform: uppercase;
    position: relative;
    top: 2.5em;
}

.itens-cardapio {
    width: 80%;
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-cardapio .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.itens-cardapio .info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio .info h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 6rem;
}

.itens-cardapio .info h4 span{
    font-size: 1.6rem;
    color:#585858;
    margin-left: 1.5rem;
    text-decoration: underline;
}

.itens-cardapio div {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px ;
}

.itens-cardapio img {
    width: 100%;
    height: 200px;
}

.itens-cardapio .info .pedir {
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #ffc506;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 200ms ease-in;
}

.itens-cardapio .info .pedir:hover {
    background-color: #5e5252;
    color: rgb(255, 255, 255);
}



.sobre-nos {
    background-color: green;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentsobre {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    
    display: flex;
    justify-content: space-between;
}

.sobre-nos img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.contentsobre h2 {
   font-size: 6rem;
   margin-bottom: 1rem;
   font-family: 'Indie Flower', cursive;
}

.contentsobre p {
   text-align: center;
   font-size: 1.8rem;
   width: 600px;
}

.contatos {
    width: 100%;
    background-color: #fffdff;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: center;
    font-size: 1.8rem;
    color: green;
    padding-bottom: 4rem;
}

.contatos h3 {
   font-size: 6rem;
   margin-bottom: 3rem;
   font-family: 'Indie Flower', cursive;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos-secao i{
    margin-right: 1rem;

}

.contatos-secao div{
    cursor: pointer;
}

.contatos-secao div:hover{
    color: #ffc506;
}

footer {
    height: 25px;
    background-color: #fff9f9;
    color: green;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .main {
        display: block;
        
    }

    .sobre-nos img {
        width: 600px;
        margin-left: -2px;
    }

    
}

@media (max-width: 980px) {
   
    html {
        font-size: 50%;
    }
    
}

@media (max-width: 870px) {
    .content {
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 6px auto;

        transition-duration: 0.5s ;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        

    }

    .content.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1f1e1f;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu {
        display: block;
        
    }

    .content.on .list-menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        
    }

    .content.on .list-menu li a {
        font-size: 4rem;
        display: block;
    }


    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -7px);
    }
    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }

    .contatos-secao {
        display: block;
        text-align: center;
        font-size: 2rem;
        
    }

    .contatos-secao div {
        margin: 2rem;
        
    }

}


@media (max-width: 720px) {
    .conteudo-principal h1 {
        width: 350px;
        text-align: center;
    }
}

@media (max-width: 645px) {
    .sobre-nos img {
        width: 400px;
        margin-left: 10px;
    }

    .contentsobre p {
        text-align: center;
        width: 400px;
     }

     .btn {
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .contatos-secao {
       width: 200px;
        
    }
    .conteudo-principal h2 {
        width: 200px;
        text-align: center;
    }

    .btn {
        width: 150px;
    }
}

@media (max-width: 399px) {

    .conteudo-principal h1 {
       font-size: 3rem;
    }
    .conteudo-principal h2 {
       font-size: 2rem;
    }


    .sobre-nos img {
        width: 300px;
        height: auto;
        margin-left: 10px;
    }

    .contentsobre p {
        text-align: center;
        width: 200px;
     }

    
}




.form-cadastro{
    width: 100%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px black;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 1rem;
    
}
.form-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 1rem;
}
.form-image img{
    width: 40rem;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: green;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #c2c1cff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: green;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color:rgb(86, 80, 80);
}

.input-box input:focus-visible {
    outline: 1px solid #e4e3ef;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: green;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #c2c1cff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}